@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    padding-left: var(--margin-3);
    padding-right: var(--margin-3);
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #7C9FC2, #1B365C) ;
}

.main {
    margin-top: 160px;
}