:root {
    --fonte: white;
    --body-color: linear-gradient(to bottom, #7C9FC2, #1B365C);
    --container-color: linear-gradient(to bottom, #7190B0,#1B375E);
    --laterais: 3rem;
    --margin-3: 3rem;
    --margin-2: 2rem;
    --nav-font: 20px;
}