
.about {
    justify-content: center; 
}

.about_container {
    background: rgb(255 255 255 / 10%);
    display: grid;
    grid-template-columns: 800px 50px 800px;
    padding: 2rem; 
    margin-bottom: var(--margin-2);
    justify-content: center;
    border-radius: 400px 2px 400px 400px;
}

.about_title{
    color: var(--fonte);
    justify-self: center;
}

.about_img{
    width: 400px;
    padding-left: var(--margin-3);
}

.about_title h1 {
    font-size: 40px;
    text-align: left;
    
}

.about_division {
    width: 2px;
    height: 20rem;
    background: var(--fonte);
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    opacity: 0.3;
}

.about_content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: var(--fonte);
}

.about_subititle{
    text-align: right;
    font-size: 40px;
    margin-bottom: var(--margin-2);
}

.about_description {
    font-size: 18px;
    opacity: 0.7;
    text-align: right;
}


